.container{
    margin-left: 100px;
    width: 92.20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.mainDiv{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 400px;
    border-radius: 20px;
    
    background-color: rgb(36, 39, 57);
}
.paraType{
    min-height: 250px;
}
.result{
    padding: 0px 20px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 2px solid #6d707e;;
}
span{
    font-size: 20px;
    user-select: none;
    cursor: tex;
}

input.input_field{
    opacity: 0;
    z-index: -999;
    position: absolute;
}

.active{
    border-bottom: 3px solid blue;
}

.correct{
    background-color: green;
}
.wrong{
    background-color: red;
}


